@media (width > 1200px) {
    main {
        margin-right: 15%;
    }
    .header {
        flex-basis: 200%;
    }
}
@media (max-width: 1000px) {
    header {
        display: none;
    }
    .img {
        flex-basis: 150%;
    }
}
@media (width < 800px) {
    .popular-news {
        display: none;
    }
    .blurb {
        display: none !important;
    }
    main {
        padding: 0rem;
    }
    .primary-news {
        margin: 0rem;
    }
    main > section {
        width: 100%;
    }
    .header {
        padding: 0rem;
        flex-basis: 150%;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

img {
    width: 80%;
    height: auto;
}

header {
    padding-top: 2rem;
    margin-right: 6rem;
    padding-right: 2rem;
}
.nav-container {
    position: fixed;

}
.nav-bar {
    margin-top: 4rem;
}
main {
    padding-inline: 2rem;
    padding-top: 1rem;
}

.primary-news {
    display: flex;
    flex-direction: row;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.big-story {
    flex-basis: 55%;
    font-size: 1.25rem;
    padding-inline: 1rem;
}

.popular-news {
    flex-basis: 30%;
}
.popular-news article {
    font-size: 1vw;
    border-bottom: 2px solid lightgrey;
}
.popular-news article:last-child {
    border: none;
}




.secondary-news {
    display: flex;
    flex-direction: column; 
}
.secondary-article {
    border-top: 2px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.5vw;
}
.secondary-article div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-inline: 0.5rem;
}

.img img {
    width: 80%;
    height: auto;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.blurb {
    padding-top: 2rem;
}

